parameters:
    inferPrivatePropertyTypeFromConstructor: true

    ignoreErrors:

        -
            message: '/Else branch is unreachable because previous condition is always true./'
            path: 'src/Graph/GraphSearch.php'

        -
            message: '/Cannot call method .* on [^ ]*|null./'
            path: 'src/Graph/GraphSearch.php'

        -
            message: '/Access to private property \$edges of parent class Smalldb\\StateMachine\\Graph\\NestedGraph./'
            path: 'src/Graph/NestedGraph.php'

        -
            message: '/Parameter #2 $sourceStateName of method Smalldb\\StateMachine\\Definition\\Builder\\StateMachineDefinitionBuilder::addTransition() expects string, string|null given./'
            path: 'src/AnnotationReader.php'

