<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
	bootstrap="vendor/autoload.php"
	defaultTestSuite="unit-tests"
	executionOrder="default"
	forceCoversAnnotation="false"
	beStrictAboutCoversAnnotation="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	verbose="true">

	<testsuites>
		<testsuite name="unit-tests">
			<directory suffix="Test.php">test</directory>
			<exclude>test/output</exclude>
		</testsuite>
		<testsuite name="benchmark">
			<directory suffix="Benchmark.php">test</directory>
			<exclude>test/output</exclude>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<exclude>
				<file>src/.phpstorm.meta.php</file>
			</exclude>
			<directory suffix=".php">src</directory>
			<directory suffix=".php">lib</directory>
			<directory suffix=".php">test/Example</directory>
			<directory suffix=".php">test/Misc</directory>
			<directory suffix=".php">test/SmalldbFactory</directory>
			<directory suffix=".php">test/SymfonyDemo</directory>
			<directory suffix=".php">test/Template</directory>
		</whitelist>
	</filter>
</phpunit>
