<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
	bootstrap="vendor/autoload.php"
	executionOrder="default"
	forceCoversAnnotation="false"
	beStrictAboutCoversAnnotation="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	verbose="true">

	<testsuites>
		<testsuite name="">
			<directory suffix="Test.php">test</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">class</directory>
			<directory suffix=".php">test/Example/Database</directory>
		</whitelist>
	</filter>
</phpunit>
