* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
	background: #fff;
	color: #000;
	font-family: "Noto Sans", "DejaVu Sans", Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "URW Palladio L", "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #5176be;
	font-weight: normal;
}


body {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
}

nav {
	grid-column: 1;
	grid-row: 1 / span 2;
	justify-content: start;
	background: #eee;
	min-height: 100%;
	border-right: 1px solid #888;
	box-shadow: 0 0 5px #aaa;
	padding: 6rem 0rem 3rem 0rem;
}

	nav ul, nav li {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		white-space: nowrap;
	}

	nav ul {
		padding-bottom: 0.5em;
	}

	nav ul + ul {
		border-top: 1px solid #ddd;
		padding-top: 0.5em;
	}

	nav ul li a {
		display: block;
		padding: 0.5em 1em;
		color: #555;
		text-decoration: none;
	}

	nav ul li a:hover,
	nav ul li a:focus,
	nav ul li.active a {
		background: #ddd;
		color: #000;
	}

article {
	grid-column: 2;
	grid-row: 1;
	padding: 0em 2em 3em 2em;
}

footer {
	grid-column: 2;
	grid-row: 2;
	border-top: 1px solid #aaa;
	padding: 0.5em 0em;
	margin: 1em 2em 0em 2em;
	color: #888;
}

h1 {
	font-size: 3rem;
	border-bottom: 1px solid #aaa;
}

svg, img {
	overflow: visible;
	display: block;
	margin: 2em auto;
	max-width: 100%;
	max-height: 85vh;
	height: auto;
}

hr {
	margin: 2em 0;
	border: none;
	border-bottom: 1px solid #aaa;
}

canvas.plot {
	display: block;
	width: 100%;
	margin: 2em 0em;
}
